<div class="block mb-6">
  <figure class="image">
    <img id="logo" src="/images/logo.png">
  </figure>
</div>
<div class="block">
  <aside class="menu">
    <p class="menu-label">
      Profile
    </p>
    <ul class="menu-list">
      <li><a>View Profile</a></li>
      <li><a href="/" >Logout</a></li>
    </ul>
    <p class="menu-label">
      Course Calendar
    </p>
    <ul class="menu-list">
      <li>
        <a href="/view-all-courses">
          View All Courses
        </a>
        <ul>
          <li><a href="/fulfilled-requirements">
            Fulfilled Requirements
          </a></li>
          <li><a href="/transfer-credits">
            Transfer Credits
          </a></li>
          <li><a href="/non-related">
            Non-related & Other Courses
          </a></li>
        </ul>
      </li>
    </ul>
    <p class="menu-label">
      Course Planner
    </p>
    <ul class="menu-list">
      <li><a href="/course-search">Course Search</a></li>
      <li><a>View Saved Courses</a></li>
      <li><a>View Course Plans</a></li>
    </ul>
  </aside>
</div>
