{{> content_title title="Course Search"}}

<form class="mx-4 mb-4" id="search"> 
  <input
    class="input is-medium"
    type="search"
    id="query"
    name="q"
    placeholder="Enter the course name/course code here"
  >
</form>
<div class="p-4">
  <div class="grid grid-cols-2 gap-6">
    {{#each search_courses}}
      {{> course_card_search course=this}}
    {{/each}}
  </div>
</div>
 
