{{> content_title title="Course Search"}}

<form id="search" width="700"> 
  <input type="search" id="query" name="q" placeholder="Enter the course name/course code here">
</form>
{{> course_grid_2 courses=saved_courses}}
 