{{> content_title title="Course Search"}}

<form class="mx-4 mb-4" id="search"> 
  <input
    class="input is-medium"
    type="search"
    id="query"
    name="q"
    placeholder="Enter the course name/course code here"
  >
</form>
{{> course_grid_2 courses=search_courses}}
 
