<div class="block">
  <h1>Homepage</h1>
</div>
<div class="block">
  <h3 class="mb-3">Proceed to our site by logging in</h3>
  <a class="button is-link" href="./login">Login</a>
</div>
<div class="block">
  <h3 class="mb-3">TESTING: Enter site</h3>
  <a class="button is-info" href="./view-all-courses">App Landing Page</a>
</div>
