<h1>Login</h1>
<input name="username" placeholder="Enter username"/>
<br>
<input name="password" placeholder="Enter password" type="password"/>
<br>
<input name="login" value="Log In" type="submit"/>
<input name="register" value="Register" type="submit"/>
