{{> content_title title="View Student Profile"}}
<div class="box mx-4 p-6">
  <figure class="block image is-128x128">
    <img class="is-rounded" src="./images/profile-pic.jpg">
  </figure>
  <div class="block">
    <h3>Joseph Smith Andy</h3>
  </div>
  <div class="field">
    <div class="block">
      <label class="label">Student No.</label>
      <p class="pl-3 is-size-5">12345678</p>
    </div>
    <div class="block">
      <label class="label">Program</label>
      <p class="pl-3 is-size-5">Computer Science - 3rd year</p>
    </div>
  </div>
</div>