<h1>Hello there!</h1>

<form method="post">
    <ul>
        <li>Some item 1 <button name="delete" value="Delete 1" type="submit">Delete</button></li>
        <li>Some item 2 <button name="delete" value="Delete 2" type="submit">Delete</button></li>
        <li>Some item 3 <button name="delete" value="Delete 3" type="submit">Delete</button></li>
    </ul>
</form>


<form method="post">
    <input name-"text" placeholder="Add new item">
    <input type="submit" value="Add">
</form>

<br>
<form method="post" action="logout">
    <input type="submit" value="Log out"/>
</form>
