<div class="tile is-ancestor">
  {{#each calendar}}
    <div class="tile is-parent is-vertical is-6 p-4">
      {{#each this}}
        <div class="tile box is-flex is-flex-direction-column ">
          <h3 class="title is-5">Semester {{this.name}}</h3>
          {{#each this.courses}}
            {{> course_card course=this}}
          {{/each}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>