body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Typography Defaults */
h1 {
  font-size: 3rem;
  font-weight: bolder;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: medium;
}
p {
  font-size: 1rem;
  color: hsl(0, 0%, 29%);
}
/* Sidebar*/
#logo {
  height: auto;
  width: 100%;
  max-width: 250px;
  margin: auto;
}
#sidebar {
  margin-right: 1.75rem;
}
/* View all Courses */
.course-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}